<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport"
         content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Añadir Registro</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

   <style>
       span{
           color: green;
           font-family: sans-serif;
           font-size: 17px;
       }
   </style>
</head>
<body>
<div class ="container" style="margin-left: 20px">
    <br>
    <h2>Nuevo Registro</h2>
    <hr>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <span>{{ mensaje }}</span>
        <br>
        <input type="submit" name="Enviar"
        value="Enviar" class="btn btn-primary">
        &nbsp;
        <a href="{% url 'index' %}" class="btn btn-danger">Volver</a>
    </form>
</div>
</body>
</html>
